applications:
  keystone:
    num_units: 3
    options:
      vip: {{TEST_VIP00}}
  nova-cloud-controller:
    num_units: 3
    options:
      vip: {{TEST_VIP01}}
  keystone-hacluster:
    charm: cs:hacluster
  nova-hacluster:
    charm: cs:hacluster
relations:
- ["keystone:ha", "keystone-hacluster:ha"]
- ["nova-cloud-controller:ha", "nova-hacluster:ha"]
